.card-container {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 5px;
    flex: 1;
}
.card-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-inner-container p {
    margin: 0px;
}
.card-inner-container p span {
    font-weight: 600;
    margin-right: 5px;
}
.time-container {
    margin-top: 10px;
}
.badge {
    background: #e2da34;
    padding: 2px 10px;
    border: 1px solid #e2da34;
    border-radius: 20px;
    font-size: 12px;
}
.location {
    font-size: 14px;
}

.extra-location-info ul{
    list-style-type: none;
    padding: 0;
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.extra-location-info ul li {
    padding: 10px 0px;
}
.extra-location-info ul li label {
    font-weight: 700;
    padding-right: 10px;
    height: 30px;
}